#mc{
    color: #ff0000;
}
#h2{
    color: #00ae2f;
}

.game{
    color: #00ae2f;
    border: solid rgba(254, 0, 0, 0.903) 3px;
}
#vsc{
    color: #00ae2f;
    border: solid rgba(254, 0, 0, 0.903) 5px;
}
*{
    background-color: rgb(11, 46, 149);
}
#im{
    border: dotted rgb(0, 191, 45) 5px;
}
